* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Spotify";
  src: url(assests/font/CircularSpUIAra-Bold.otf);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Spotify", sans-serif;
}

.invert {
  filter: invert(1);
}

.container {
  background-color: black;
  height: 88%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.left {
  height: 100%;
  width: 24%;
  padding: 8px;
  position: absolute;
  left: 0px;
  background-color: black;
}

.right {
  height: 100%;
  width: 76%;
  padding: 6px 2px 0px 0;
  position: absolute;
  right: 0px;
}

.logo {
  margin-bottom: -5px;
}

.home {
  height: 24%;
  width: 100%;
  background-color: #121212;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: start;
  padding: 17px 20px;
  margin-bottom: 10px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  display: none;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
  cursor: pointer;
}

.svg {
  height: 24px;
  width: 24px;
}

button {
  width: 100%;
  color: rgba(244, 238, 238, 0.763);
  border: none;
  background-color: #121212;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

button:hover {
  color: white;
}

.library {
  height: 76%;
  width: 100%;
  background-color: #121212;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  align-items: start;
}

.library-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #b6b5b5;
  padding: 15px 20px 0 20px;
}

.library-top > * :hover {
  color: white;
}

.library-top > img {
  height: 17px;
  width: 1p7x;
}
.add-library {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 12px;
  cursor: pointer;
}

.add-library > span {
  font-size: 15.5px;
  font-weight: 600;
  color: #b6b5b5;
}

.library-bottom {
  width: 99%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Scrollbar styling */
/* For Webkit browsers (Chrome, Safari) */
.library-bottom::-webkit-scrollbar {
  width: 0px;
}

.library-bottom::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Slight transparent background */
}

.library-bottom::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); /* Slight transparent thumb */
}

.library-bottom::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); /* More visible on hover */
}

.playlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  background-color: #242424;
  margin: 12px 8px;
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
}

.playlist > h5 {
  font-size: 14px;
  font-weight: 100;
}

.playlist > button {
  width: 130px;
  padding: 8px 6px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  background-color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  border-radius: 30px;
}

footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 20px;
  padding: 0px 95px 20px 20px;
}

.footer > a {
  font-family: sans-serif;
  font-size: 10.5px;
  font-weight: 100;
  color: #7e7d7d;
  text-decoration: none;
  cursor: pointer;
}

.lang {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #7e7d7d;
  cursor: pointer;
  margin: 20px;
  padding: 5px 10px;
  border-radius: 20px;
}

.lang > img {
  height: 15px;
  width: 15px;
}

.nav {
  height: 10%;
  width: 100%;
  background-color: #111111;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 20px 25px;
}

.nav > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.nav-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.nav-left > .home-logo {
  display: none;
}

.nav-left > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.navigation img {
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-right > .buttons > button {
  color: #b3b3b3;
  font-weight: 600;
  width: 110px;
  height: 48px;
  padding: 16px;
  border-radius: 30px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.nav-right > .buttons > button:hover {
  color: black;
  font-size: 16.2px;
  font-weight: 700;
  transform: scale(1.05);
}

.nav-right > .buttons :first-child {
  background-color: transparent;
  color: #909090;
}

.nav-right > .buttons :first-child:hover {
  color: white;
}

.nav-right > .hamburger {
  display: none;
}

.main {
  height: 90%;
  width: 100%;
  background-color: #131313;
  border-radius: 0 0 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main::-webkit-scrollbar {
  width: 0px;
}

.main::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Slight transparent background */
}

.main::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); /* Slight transparent thumb */
}

.main::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); /* More visible on hover */
}

.main > section {
  height: 50%;
  width: 100%;
  margin-bottom: 15px;
}

.heading {
  width: 100%;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding: 25px 20px 0 20px;
}

.heading *:hover {
  cursor: pointer;
  text-decoration: underline 2px;
}

.heading > h5 {
  font-size: 14px;
  font-weight: 100;
  color: #b3b3b3;
}

.cards {
  width: 100%;
  display: grid;
  padding: 0 8px;
  grid-template-columns: repeat(14, 1fr);
  gap: 10px;
}

.card {
  height: 225px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  padding-top: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: #282828;
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
}

.img {
  position: relative;
}

.img > .play {
  position: absolute;
  display: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  right: 8px;
  animation: play 100ms linear;
  box-shadow: 0px 4px 6px #6565659e;
}

@keyframes play {
  0% {
    bottom: 0;
    opacity: 0;
  }
  80% {
    bottom: 5px;
  }
  100% {
    bottom: 8px;
    opacity: 1;
  }
}

.img:hover > .play {
  display: block;
  right: 8px;
  bottom: 8px;
}

.card > h4 {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  text-overflow: ellipsis;
}

.card :nth-last-child(2) {
  margin-top: 10px;
}

.card :nth-last-child(1) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #a7a7a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main > footer {
  width: 100%;
  height: 70%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  color: #b3b3b3;
  padding: 30px;
  flex-wrap: wrap;
}

footer > .divider {
  width: 100%;
  height: 0.5px;
  background-color: #282828de;
  margin: -20px 0 -30px 0;
}

footer > .lower {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

footer > .upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}

.links {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 100px;
}

.links > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  gap: 10px;
  flex-wrap: wrap;
}

.links > div > span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #b3b3b3;
  cursor: pointer;
}

.links > div > span:hover {
  color: white;
  text-decoration: underline 1px;
}

.links > div :first-child {
  font-family: Spotify;
  font-size: 17px;
  color: #ffffff;
}

.social-links {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.social-links > img {
  padding: 8px;
  background-color: #e2dede;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.social-links > img:hover {
  background-color: #ffffff;
}

.playbar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
}

.playbar-info {
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 100%;
  color: white;
}

.playbar-info * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.playbar-info > div :last-child {
  font-size: 13px;
  font-weight: 500;
  color: #b3b3b3;
}

.playbar-info :last-child {
  width: 17px;
}

.playbar-icon {
  width: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.playbar-icon img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.playbar-icon img:hover {
  transform: scale(1.1);
}

/* Basic styling for the volume slider */
.audio-player {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 15px;
  margin-right: 15px;
}

#volume-slider {
  width: 90px;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

#volume-slider:hover {
  width: 90px;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: #1db954;
  outline: none;
  border-radius: 5px;
}

.playbar-controls {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 17%;
}

.playbar-controls img {
  width: 17px;
  height: 17px;
  cursor: pointer;
  background-color: transparent;
}

.playbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#play {
  width: 35px;
  height: 35px;
}

#pause {
  display: none;
}

.playbar-seek {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

.playbar-seek h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #7e7d7d;
}

#seek-slider {
  width: 90%;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  margin-top: 8px;
  cursor: pointer;
}

#seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 2800px) {
  .cards {
    grid-template-columns: repeat(13, 1fr);
  }
  .card:last-child {
    display: none;
  }
}

@media (max-width: 2600px) {
  .cards {
    grid-template-columns: repeat(12, 1fr);
  }
  .card:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 2400px) {
  .cards {
    grid-template-columns: repeat(11, 1fr);
  }
  .card:nth-last-child(3) {
    display: none;
  }
}

@media screen and (max-width: 2200px) {
  .cards {
    grid-template-columns: repeat(10, 1fr);
  }
  .card:nth-last-child(4) {
    display: none;
  }
}

@media screen and (max-width: 2000px) {
  .cards {
    grid-template-columns: repeat(9, 1fr);
  }
  .card:nth-last-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1800px) {
  .cards {
    grid-template-columns: repeat(8, 1fr);
  }
  .card:nth-last-child(6) {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .cards {
    grid-template-columns: repeat(7, 1fr);
  }
  .card:nth-last-child(7) {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
  }
  .card:nth-last-child(8) {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
  .card:nth-last-child(9) {
    display: none;
  }
  .links {
    gap: 50px;
  }
  .main > footer {
    width: 100%;
    height: 80%;
  }
  .playbar-controls {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .card:nth-last-child(10) {
    display: none;
  }
  .links {
    gap: 20px;
  }
  .playbar-icon > img {
    display: none;
  }
  .playbar-controls {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .main > section {
    height: 30%;
    margin-bottom: 70px;
  }
  .card {
    height: 180px;
  }
  .card img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    height: 89%;
    overflow: hidden;
  }
  .left {
    left: -100%;
    z-index: 10;
    width: 60%;
    height: 90vh;
    padding: 0px;
    transition: all 600ms ease;
  }
  .library {
    padding: 0px 10px;
  }
  .home {
    margin-bottom: 0px;
  }
  .right {
    height: 100%;
    width: 100%;
  }

  .nav-left > .navigation {
    display: none;
  }
  .nav-left > .home-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .nav-left > .home-logo img {
    width: 150px;
    height: 150px;
  }
  .right {
    padding: 0px;
  }
  .nav {
    padding: 40px 25px;
  }
  .nav-right > .buttons {
    display: none;
  }
  .nav-right > .hamburger {
    display: block;
  }
  .nav-right > .hamburger > img {
    width: 40px;
    height: 40px;
  }
  .close {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card:nth-last-child(11) {
    display: none;
  }
  .main > footer {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  .playbar-controls {
    margin-left: 2%;
  }
  .playbar-controls img {
    width: 12px;
    height: 12px;
  }
  #play {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 500px) {
  .home-logo > .search {
    display: none;
  }
  .nav-right > .buttons {
    display: none;
  }
  .playbar-info {
    gap: 5px;
  }
  .playbar-info h5 {
    display: none;
  }
  .playbar-info img {
    width: 45px;
    height: 45px;
  }
  .audio-player {
    gap: 10px;
    width: 70px;
  }
  #volume-slider {
    width: 50px;
  }
  #volume-slider:hover {
    width: 50px;
  }
  .playbar-info :last-child {
    display: none;
  }
  .playbar-icon {
    width: 15%;
  }
  .playbar-controls {
    width: 55%;
    margin-left: -5px;
  }
}

@media screen and (max-width: 450px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card:nth-last-child(12) {
    display: none;
  }
  .left {
    width: 100%;
    height: 100vh;
  }
  .playbar-controls {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .playbar {
    padding: 10px;
  }
  .audio-player {
    gap: 10px;
    width: 60px;
  }
  .playbar-buttons > img {
    display: none;
  }
}

@media (max-width: 300px) {
  .playbar-controls {
    margin-left: -10px;
  }
  .audio-player {
    gap: 0px;
    width: 50px;
  }
  #volume-slider {
    width: 40px;
  }
  #volume-slider:hover {
    width: 40px;
  }
  .audio-player {
    gap: 0px;
  }
  /* .audio-player {
    gap: 2px;
    width: 20px;
  } */
  /* #volume-slider{
    writing-mode: vertical-rl;
    direction: rtl;
    appearance: slider-vertical;
    vertical-align: bottom;
    height: 90px;
    width: 4px;
  }
  #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #volume-slider:hover {
    height: 90px;
    width: 4px;
    -webkit-appearance: none;
    appearance: none;
    background: #1db954;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
  } */
}
